:root {
  --color-primary: #002065; /* 主要顏色 */
  --color-secondry: #0c3da5; /* 次要顏色 */

  --bg-main: #ffffff; /* 主要背景 */
  --bg-secondry: #143170; /* 次要背景*/

  --text-primary: #2c3e50; /* 主要內文 */
  --text-secondry: #6b7280; /* 次要內文 */
  --text-inverse: #ffffff; /* 反白文字 */
  --text-inverse-secondry: #5378c4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 100px auto;
  padding: 0 1.5rem;
}
h1 {
  color: var(--color-primary);
  font-size: 4rem;
}
h2 {
  color: var(--color-secondry);
  font-size: 3rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.6rem;
}
p {
  color: var(--text-primary);
}
header,
footer {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--text-inverse);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
/* ========================= */
/* header */
/* ========================= */
header {
  position: fixed;
  z-index: 10;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 20px 40px;
}
nav a:hover {
  transform: scale(1.3);
  transition: 0.1s;
}
/* ========================= */
/* hero */
/* ========================= */
.hero {
  width: 100%;
  height: 100vh;
  background-color: #bac9e5;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__container {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.hero__context {
  width: 50%;
}
.hero__context > h2 {
  margin-bottom: 3rem;
}
.hero__context > p {
  font-size: 1.3rem;
  text-align: justify;
}
.hero__image-wrapper {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.hero__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ========================= */
/* skill */
/* ========================= */

.skill__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skill__card {
  border: 1px solid var(--color-secondry);
  width: 30%;
  height: 450px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  box-shadow: 3px 3px 5px var(--color-primary);
  opacity: 0;
  transform: translateY(100px);
  transition:
    opacity 1s ease-out,
    transform 1.5s ease-out;
}
.skill__card.show {
  opacity: 1;
  transform: translateY(0);
}
.skill__card:nth-child(2) {
  transition-delay: 0.3s;
}
.skill__card:nth-child(3) {
  transition-delay: 0.6s;
}
.skill__card > h3 {
  text-align: center;
  margin-bottom: 2rem;
}
.skill__card-context {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  gap: 0.75rem;
}

/* ========================= */
/* self */
/* ========================= */

.self p {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
}

/* ========================= */
/* portfolio */
/* ========================= */
.portfolio {
  position: relative;
}
.portfolio > a {
  position: absolute;
  right: 5%;
  bottom: 5%;
  background-color: var(--color-secondry);
  color: var(--text-inverse);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
.portfolio > a:hover {
  background-color: var(--color-primary);
}

.portfolio__wrapper {
  width: 100%;
  height: 800px;
  display: flex;
  border-bottom: 5px solid var(--color-secondry);
}
.portfolio__image-wrapper {
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
}
.portfolio__image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.portfolio__context {
  padding: 0 30px;
  line-height: 1.6rem;
  border-right: 5px solid var(--color-secondry);
}
.portfolio__context > h3 {
  padding: 20px 0;
}
.portfolio__context > h4 {
  padding: 20px 0;
}
.portfolio__list {
  list-style-position: inside;
}
.portfolio__list > li {
  margin-bottom: 5px;
}
.portfolio__list > li > ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 2rem;
}
/* ========================= */
/* exprience */
/* ========================= */
.experience {
  display: flex;
  flex-direction: column;
}
.experience__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}
.experience__image-wrapper {
  border: 1px solid black;
  width: 300px;
  height: 200px;
  box-shadow: 3px 3px 5px gray;
}
.experience__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.experience__context {
  flex: 1;
  margin-left: 30px;
  margin-top: 20px;
}
.experience__context h4 {
  margin-bottom: 20px;
}
.experience__context p {
  line-height: 1.5rem;
}
.experience__period {
  font-weight: 500;
}
